<div class="about-marketplace">

  <p>
    Often times, backpackers and campers need to purchase things that cannot go on an airplane. Likewise, many times, people will purchase too many 
    supplies that they may not necessarily want to, or cannot, take back with them. Things such as firewood, bear mace, fuel canisters, etc. thats where we're hoping 
    the marketplace can come in handy. Forget something at the store before coming out? Select the park you are in, and see if anyone has what you are looking for. 
    Need to get rid of some stuff before heading out? Create a post. Just remember, stay safe, and hike on.

  </p>

  <p>At this time, our list of locations is only the national parks; however, we will definitely be expanding it going forward.</p>

</div>

<div class="search-selections">
  <!-- <ts-dropdown [label]="'Select a Park'" [selectList]="parkList"></ts-dropdown> -->

  <select class="form-select" [(ngModel)]="selectedPark" (change)="setPark()">
    <option value="Default">Please select a park</option>
    <option *ngFor="let park of parkList" [value]="park">{{ park }}</option>
  </select>

  <select class="form-select" [(ngModel)]="selectedArea" (change)="setArea()">
    <option  value="Default">Please select an area</option>
    <option *ngFor="let park of parkList">{{ park }}</option>
  </select>

  <button class="btn btn-secondary search-park-location" [disabled]="searchParkDisabled | async">Submit</button>

</div>