<div class="preview-container">
    <h4> {{ trip.name }}</h4>

    <div class="date-container">
        <p class="start-date">Departure Date: {{ trip.departureDate }}</p>
        <p *ngIf="trip.returnDate !== undefined" class="return-date"><span [innerText]="returnDate"></span></p>
    </div>
    <img width="30" [ngClass]="{ 'pad-image' : trip.initialTransportationType === 'Driving' }" height="30" [src]="image" altText="Select car for mode of transportation"/>

    <p class="airport" *ngIf="trip.initialTransportationType === 'Flying'">Destination airport: {{ trip.destinationAirport }}</p>

    <div class="description">
        {{ trip.description }}
    </div>

    <div class="view-details">
        <a [routerLink]="['/viewTripDetail', trip.seqId]" >View Full Trip Details</a>
    </div>
</div>