<div class="checklist-container">
    <h4>Checklist <a href=""><img class="add-checklist" width="30" height="30" alt-test="Add Expense" src="assets/images/plus-sign.svg"/></a></h4>
    <hr class="solid">

    <div  *ngIf="checklistItems == undefined || checklistItems.length === 0" class="no-items">
        <p>No items yet</p>
    </div>

    <div class="checklist-container">
        <ul>
            <li *ngFor="let checklistItem of checklistItems; let i = index">
                <p>
                    <label><input [attr.id]="'some-id-' + i" type="checkbox" (change)="changeSelection()"><span class="label" [attr.for]="'some-id-' + i"><i-bs name="check"></i-bs></span></label>
                    {{ checklistItem.item }}
                </p>
            </li>

        </ul>
    </div>

</div>

