.trip-container {
    width:90%;
    min-height: 300px;
    margin: auto;
    margin-bottom:2em;
    margin-top:calc(56px + 2em);
}

.previous-header {
    width:90%;
    margin: auto;
    margin-top: 2em;
}

ul {
    list-style: none;
}

.preview {
    border: solid 1px rgb(221, 219, 219);
    border-radius: 15px;
    height: 300px;

}

.preview {
    border: solid 1px rgb(221, 219, 219);
    border-radius: 15px;
    height: 300px;

}

.col-sm {
    margin-right: 5px;
    margin-bottom: 10px;
}