.expenses-container {
 margin:25px;
}

.add-receipt,
.add-expense {
    float: right;
}

.no-expenses {
    font-style: italic;
    color: darkgray;
}

.receipt {
    border: 1px solid #898989;
    border-radius: 30px;
    width:30px;
    height:30px;
    margin-right:10px;
}

.action-buttons {
    display: flex;
    float: right;
}

.add-receipt {
    margin-right:5.5px;
    margin-top: 5.5px;
}

.add-expense {
    cursor: pointer;
}

select,
input {
    margin-top:15px;
}

button {
    background-color: #04AA6D;
    &:hover,
    &:focus {
        background-color: #ddd;
        color: #333;
    }
    border: none;
    margin-bottom:20px;
}

.next {
    background-color: #04AA6D;
}

.cancel {
    background-color: #E1E0E0;
    border: none;
    color: #333;

    &:hover,
    &:focus {
        background-color: #919191;
        color:white;
    }
}

.x-button {
    border: none;
    background-color: white;
}
