<div class="expenses-container">
    <h4>Trip Expenses 
        <div class="action-buttons">
        <div  class="receipt"><img class="add-receipt" width="15" height="15" alt-text="Upload Receipt" src="assets/images/camera.svg"/></div>
        
        <div (click)="openModal(template)" class="add-expense"><img class="add-expense" width="30" height="30" alt-text="Add Expense" src="assets/images/plus-sign.svg"/></div>
    </div>
    </h4>
    <hr class="solid">

    <div  *ngIf="expenses.expenses == undefined || expenses.expenses.length === 0" class="no-expenses">
        <p>No expenses yet</p>
    </div>

    <div class="contatiner">
        <div class="row" *ngFor="let expense of expenses.expenses">
            <div class="col-sm">{{ expense.description}}</div>
            <div class="col-sm">{{ expense.expenseCreator}}</div>
            <div class="col-sm">{{ expense.type}}</div>
            <div class="col-sm">{{ expense.amount}}</div>
        </div>
    </div>

    <hr class="solid">

    <div class="expenses-summary">
        <div class="total-expenses">
            <p>Total Personal Expenses: ${{ expenses.personalTotal}}</p>
            <p>Total Group Expenses: ${{ expenses.groupTotal}}</p>
        </div>
    </div>

</div>

<ng-template #template>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Add Expense</h4>
       <button type="button" class="btn close pull-right x-button" aria-label="Close" (click)="close()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">
        <input type="text" class="form-control" placeholder="Expense Name" [(ngModel)]="expenseName"/>

        <select class="form-select"  [(ngModel)]="expenseType">
            <option value="" disabled selected>Select Expense Type</option>
            <option value="Group">Group</option>
            <option value="Personal">Personal</option>
        </select>

        <input type="number" class="form-control" placeholder="Cost ($)" [(ngModel)]="cost" step='0.01'/>
            
            
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary cancel" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addExpense()">Add Expense</button>
        
    </div>
 </ng-template>